PromoteOwner.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"microsoftforms_Connection_Name":{"defaultValue":"microsoftforms","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"新しい応答が送信されるとき":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFormWebhook"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['microsoftforms']['connectionId']"}},"body":{"eventType":"responseAdded","notificationUrl":"@{listCallbackUrl()}","source":"ms-connector"},"path":"/formapi/api/forms/@{encodeURIComponent('J4H1tgAcIEC5IIniHC4aaH1HsRYrrK5KpNBJjUFc96BUOUQ4TkdOS0dLVVE3VVE4MDJFNUFROTU1Sy4u')}/webhooks","authentication":"@parameters('$authentication')"}}},"actions":{"Apply_to_each":{"foreach":"@triggerBody()?['value']","actions":{"Forms-DetailResponse":{"runAfter":{"変数の設定":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFormResponseById"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['microsoftforms']['connectionId']"}},"method":"get","path":"/formapi/api/forms('@{encodeURIComponent('J4H1tgAcIEC5IIniHC4aaH1HsRYrrK5KpNBJjUFc96BUOUQ4TkdOS0dLVVE3VVE4MDJFNUFROTU1Sy4u')}')/responses","queries":{"response_id":"@variables('Forms変数')"},"authentication":"@parameters('$authentication')"}},"変数の設定":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Forms変数","value":"@items('Apply_to_each')?['resourceData']?['responseId']"}},"HTTP-GetUsersJoinedTeams":{"runAfter":{"GetUsersID-JSON":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"https://graph.microsoft.com/v1.0/users/@{body('GetUsersID-JSON')?['id']}/joinedTeams","authentication":{"type":"ActiveDirectoryOAuth","tenant":"b6f58127-1c00-4020-b920-89e21c2e1a68","audience":"https://graph.microsoft.com","clientId":"5895631e-9ffd-484c-88ad-a981b52a2e34","secret":"CRCEWJ2MP58i5R6+xWZ9t9D2BcFUKcdyJCOSQeBZdWM="}}},"GetUsersJoinedTeams-JSON":{"runAfter":{"HTTP-GetUsersJoinedTeams":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP-GetUsersJoinedTeams')","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"value":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"displayName":{"type":"string"},"description":{"type":"string"},"isArchived":{"type":"boolean"}},"required":["id","displayName","description","isArchived"]}}}}}},"Apply_to_each_2":{"foreach":"@body('GetUsersJoinedTeams-JSON')?['value']","actions":{"Input_groupname_is_Exist":{"actions":{"HTTP-GetGroupOwners":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"https://graph.microsoft.com/v1.0/groups/@{items('Apply_to_each_2')?['id']}/owners","authentication":{"type":"ActiveDirectoryOAuth","tenant":"b6f58127-1c00-4020-b920-89e21c2e1a68","audience":"https://graph.microsoft.com","clientId":"5895631e-9ffd-484c-88ad-a981b52a2e34","secret":"CRCEWJ2MP58i5R6+xWZ9t9D2BcFUKcdyJCOSQeBZdWM="}}},"GetGroupOwners-JSON":{"runAfter":{"HTTP-GetGroupOwners":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP-GetGroupOwners')","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"value":{"type":"array","items":{"type":"object","properties":{"@@odata.type":{"type":"string"},"id":{"type":"string"},"businessPhones":{"type":"array","items":{"type":"string"}},"displayName":{"type":"string"},"givenName":{"type":"string"},"jobTitle":{"type":"string"},"mail":{"type":"string"},"mobilePhone":{"type":"string"},"officeLocation":{"type":"string"},"preferredLanguage":{},"surname":{"type":"string"},"userPrincipalName":{"type":"string"}},"required":["@@odata.type","id","businessPhones","displayName","givenName","jobTitle","mail","mobilePhone","officeLocation","preferredLanguage","surname","userPrincipalName"]}}}}}},"変数の設定_3":{"runAfter":{"GetGroupOwners-JSON":["Succeeded"]},"type":"SetVariable","inputs":{"name":"IsOwnerExistFlag","value":"@false"}},"Apply_to_each_4":{"foreach":"@body('GetGroupOwners-JSON')?['value']","actions":{"mail_is_not_null":{"actions":{"変数の設定_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"IsOwnerExistFlag","value":"@true"}}},"runAfter":{},"expression":"@not(equals(items('Apply_to_each_4')?['mail'], null))","type":"If"}},"runAfter":{"変数の設定_3":["Succeeded"]},"type":"Foreach"},"条件":{"actions":{"HTTP-AddGroupOwner":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"https://graph.microsoft.com/v1.0/groups/@{items('Apply_to_each_2')?['id']}/owners/$ref","body":{"@@odata.id":"https://graph.microsoft.com/v1.0/users/@{body('GetUsersID-JSON')?['id']}"},"authentication":{"type":"ActiveDirectoryOAuth","tenant":"b6f58127-1c00-4020-b920-89e21c2e1a68","audience":"https://graph.microsoft.com","clientId":"5895631e-9ffd-484c-88ad-a981b52a2e34","secret":"CRCEWJ2MP58i5R6+xWZ9t9D2BcFUKcdyJCOSQeBZdWM="}}}},"runAfter":{"Apply_to_each_4":["Succeeded"]},"expression":"@equals(variables('IsOwnerExistFlag'), false)","type":"If"}},"runAfter":{},"expression":"@equals(items('Apply_to_each_2')?['displayName'], body('Forms-DetailResponse')?['r89bbbcf3ff9e4fc29880163db9f27069'])","type":"If"}},"runAfter":{"GetUsersJoinedTeams-JSON":["Succeeded"]},"type":"Foreach"},"HTTP-GetUsersID":{"runAfter":{"Forms-DetailResponse":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"https://graph.microsoft.com/v1.0/users/@{body('Forms-DetailResponse')?['responder']}","authentication":{"type":"ActiveDirectoryOAuth","tenant":"b6f58127-1c00-4020-b920-89e21c2e1a68","audience":"https://graph.microsoft.com","clientId":"5895631e-9ffd-484c-88ad-a981b52a2e34","secret":"CRCEWJ2MP58i5R6+xWZ9t9D2BcFUKcdyJCOSQeBZdWM="}}},"GetUsersID-JSON":{"runAfter":{"HTTP-GetUsersID":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP-GetUsersID')","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"businessPhones":{"type":"array","items":{"type":"string"}},"displayName":{"type":"string"},"givenName":{"type":"string"},"jobTitle":{},"mail":{"type":"string"},"mobilePhone":{},"officeLocation":{},"preferredLanguage":{"type":"string"},"surname":{"type":"string"},"userPrincipalName":{"type":"string"},"id":{"type":"string"}}}}}},"runAfter":{"IsOwnerExistFlag":["Succeeded"]},"type":"Foreach"},"変数を初期化する":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Forms変数","type":"Integer","value":1}]}},"IsOwnerExistFlag":{"runAfter":{"変数を初期化する":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"IsOwnerExistFlag","type":"Boolean","value":"@true"}]}}},"outputs":{}},"parameters":{"$connections":{"value":{"microsoftforms":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'microsoftforms')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('microsoftforms_Connection_Name'))]","connectionName":"[parameters('microsoftforms_Connection_Name')]"}}}},"runtimeConfiguration":{"collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('microsoftforms_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('microsoftforms_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'microsoftforms')]"},"displayName":"[parameters('microsoftforms_Connection_Name')]"}}]}